/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/07/2015, 11:19:32 PM
    Author     : Jordan
*/
html{
   background-color: #81c784;
   background-image: url(../Imgs/Fondo1.png);
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-size: 100% 100%;
   min-height: 100%;
   padding-right: 0px !important;
}
td{
    color: #9e9e9e;
}
th{
    color: #9e9e9e;  
}

.PartDown{
    width: 100%;
    height: 100%;
    float: none !important;
}
#colcontet{
    height: 10%;
}
#liImag{
    float: left;
    width: 42%;
    height: 50%;
}
#EtiClient{
    float: right;
    width: 50%;
    height: 50%;
}
#EtiquetaCliente{
    width: 100%;
    height: 100%;
    padding-top: 26%;
    color: white;
    font-size: 1.28rem;
}
#boton{
    margin-top: 7%;
}
#ImagClient{
    height: 100%;
    width: 100%;
}
#EnlacesSuperiores{
    float: left !important;
}
#usuariodropdown{
    float: right;
    height: 100%;
    line-height: 56px;
}
.btn{
    background-color: #ee6e73; 
}
.side-nav a{
    color: red;
}
#mobile-demo{
   background-color: #81c784;
   background-image: url(../Imgs/Fondo1.png);
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-size: 100% 100%;
   min-height: 100%;
}
ul#mobile-demo.side-nav li a{
    font-size: 2rem;
}
#botonletra{
    font-size: 0.8rem;
}
@media (min-width:150px){
    html{
        font-size: 4px;
    }
        #botonletra{
        font-size: 0.3rem;
    }
        #TablaClients{
        display: none
    }
}

@media (min-width:220px){
    html{
        font-size: 5px;
    }
    #boton{
    margin-top: 3%;
}
        #botonletra{
        font-size: 0.3rem;
    }
}
@media (min-width:250px){
    html{
        font-size: 7px;
    }
            #botonletra{
        font-size: 0.4rem;
    }


}
@media (min-width:310px){
    html{
        font-size: 8px;
    }
            #botonletra{
        font-size: 0.5rem;
    }


}
@media (min-width:365px){
    html{
        font-size: 9px;
    }
    #boton{
    margin-top: 5%;
}
         #botonletra{
        font-size: 0.5rem;
    }


}
@media (min-width:500px){
    html{
        font-size: 10px;
    }
    #boton{
    margin-top: 7%;
}
        #botonletra{
        font-size: 0.8rem;
    }
    #Fmobil{
        display: none;
    }
        #TablaClients{
        display: table;
    }
}
@media (min-width:600px){
    html{
        font-size: 11px;
    }
    #boton{
    margin-top: 7%;
}
    #Fmobil{
        display: none;
    }
}
@media (min-width:700px){
    html{
        font-size: 12px;
    }
    #boton{
    margin-top: 7%;
}
    #Fmobil{
        display: none;
    }
}
@media (min-width:800px){
    html{
        font-size: 13px;
    }
    #boton{
    margin-top: 6%;
}
    #Fmobil{
        display: none;
    }

}
@media (min-width:900px){
    html{
        font-size: 13px;
    }
    #boton{
    margin-top: 6%;
}
    #Fmobil{
        display: none;
    }
}
@media (min-width:1000px){
    html{
        font-size: 13px;
    }
    #boton{
    margin-top: 7%;
}
    #Fmobil{
        display: none;
    }

}
@media (min-width:1100px){
    html{
        font-size: 13px;
    }
    #boton{
    margin-top: 6%;
}
    #Fmobil{
        display: none;
    }
}
@media (min-width:1200px){
    html{
        font-size: 13px;
    }
        #Fmobil{
        display: none;
    }
}
@media (min-width:1300px){
    html{
        font-size: 13px;
    }
        #Fmobil{
        display: none;
    }
}
/*@media (max-width:800px){
    html{
        font-size: 13px;
    }
        .contlink{
        padding-left: 0px;
        font-size: 0.8rem
    }
    #nombreusuario{
        width: 50%;
        //padding-left: 30px;
    }


    #imagenuser{
        width: 50%;
    }
}*/
.iconbar{
    width: 100%;
    height: 100%;
}
.iconosdeaccion{
    width: 1.8rem;
    height: 15px;
    
}
/*.editar{
    float: left;
}
.eliminar{
    float: right;
}*/
.row{
    margin-bottom: 0px;
}
#btnCancel{
    float: left;
}
#btnSave{
    float: right;
}
#btnnew{
    float: right !important;
}
.PartDown{
    float: left !important;
}
#TextoDelete{
    color: red;
}
#Clients{
    border: 0;
    width: 100%;
    font-size: 1rem;
    height: 3rem;
    border-bottom: 1px solid #9e9e9e;
    background: transparent;
    border-radius: 0;
    outline: none;
    padding: 0;
    box-shadow: none;
    margin: 0 0 15px 0;
    color: darkgray !important;
}
#Clients:focus:not([readonly]){
    color: black;
    border-bottom: 1px solid #26a69a;
}
#Clients::-webkit-input-placeholder { color: #9e9e9e; font-weight :bold; }
#Clients:-moz-placeholder { color: #9e9e9e; font-weight: bold; }
#Clients::-moz-placeholder { color: #9e9e9e; font-weight: bold; }
#Clients:-ms-input-placeholder { color: #9e9e9e; font-weight: bold; }


    html{
        padding-right: 0px;
    }
    .input-field label.active{
        font-size: 1rem;
    }
    input [type=text]{
        font-size: 2rem;
        color: #9e9e9e;
    }
    input{
        font-size: 2rem;
        color: #9e9e9e;
    }
    
    #editar{
        margin-right: 18.5%;
        width: 1.5rem;
        height: 15px;
        line-height: 0px;
        background-color: transparent;
        box-shadow: none;
        padding: 0px;
        
    }
    #eliminar{
        margin-left: 1.5%;
        width: 1.5rem;
        height: 15px;
        line-height: 0px;
        background-color: transparent;
        box-shadow: none;
        padding: 0px;
    }
    
#dropdown2 li a{
    font-size: 0.9rem;
}
#menu{
    width: 8rem;
    height: 100%;
}
#lbldate{
    width: 100%;
    height: 100%;
    font-size: 1rem;

}
.col .s2{
    margin-top: 1.8%;
}
button.btn-flat.picker_close:onclick{
    html{padding-right: 0px}
}

a#btnnew.btn.tooltipped{
    background-color: #41020A;
}
a#btnSave.waves-effect.waves-light.btn-large.tooltipped{
    background-color: #ee6e73;
    //opacity: 0.3;
    
}
a#btnCancel.waves-effect.waves-light.btn-large.tooltipped{
    background-color: #ee6e73;
}
a#btnnew.waves-effect.waves-light.btn-large.tooltipped{
    background-color: #ee6e73; 
    
}
a#btnSave.waves-effect.waves-light.btn-large.tooltipped:hover{
    background-color: gray;
}
a#btnCancel.waves-effect.waves-light.btn-large.tooltipped:hover{
    background-color: gray;
}
a#btnnew.waves-effect.waves-light.btn-large.tooltipped:hover{
    background-color: gray; 
}
    
.acciones{
    height: 5rem;
    width: 25%;
}
.select-wrapper span.caret{
    top: 2px;
}
.select-wrapper input.select-dropdown{
    font-size: 2rem;
}
.select-wrapper + label{
    font-size: 1.5rem;
}
.dropdown-content li > span{
    font-size: 2rem;
}
#vista{
    height: 41rem;
}
.lbl{
    height: 5rem;//5rem
    width: 100%;
    font-size: 1.6rem;
}
#vista li{
    height: 5rem;
}
ul#vista li.descr{
    height:2rem; 
}
ul#vista li.descr label.descrip{
    font-size: 1.8rem;
}
ul#vista li.txtdesc{
    height: 8rem;
}
.txt{
    border: none;
   -webkit-appearance: label;
    color: #9e9e9e;
    height: 8rem;
    font-size: 1.3rem;
}
textarea.materialize-textarea{
    color: darkgrey;
}

ul#mobile-demo.side-nav li{
    border-bottom: 2px darkslategrey ridge;
    //border-top: 2px black ridge;
}